/* ORANGE VARIANT */
$mainColor: #ffa920;
$mainColorLight: #ffc466;
$grey: #1a1a1a;
$grey0: #2a2a2a;
$grey1: #d4d4d4;
$grey3: #1a1a1a;

$darkColor1: #444444;
$darkColor2: #666666;

$lightColor1: #1a1a1a;
$lightColor2: #2a2a2a;
$lightColor3: #d4d4d4;
$lightColor4: #ffffff;

/* BLUE VARIANT */
/*
$mainColor: #2bbaf5;
$mainColorLight: #69cdf7;
$grey: #1a1a1a;
$grey0: #2a2a2a;
$grey1: #d4d4d4;
$grey3: #1a1a1a;

$darkColor1: #444444;
$darkColor2: #666666;

$lightColor1: #1a1a1a;
$lightColor2: #2a2a2a;
$lightColor3: #d4d4d4;
*/