/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@media all and (min-width: 480px) and (max-width: 768px) {

  $zen-column-count: 12;
  $zen-grid-width: 720px;
  $zen-gutter-width: 10px;

  #call-to-action-wrapper {
    display: none;
  }

  .region-highlighted {
    .visual {
      height: 200px;
    }
    .block-front-items {
      ul.front-items {
        .wrapper {
            .caption {
              width: 100% !important;
              padding-left: 0 !important;
              padding-right: 0 !important;
              font-size: 2em !important;
              text-align: center;
              margin-top: 0 !important;
              em {
                font-weight: 100;
              }
            }
            .extra-visual {
              display: none;
            }
        }
      }
    }
  }
	
	#navigation {
	  .block-menu {
	    ul {
	      li {
	        font-size: 0.875em;
	        margin-right: 8px;
	        &.last {
	          margin-right: 0;
	        }
	      }
	    }
	  }
	}

  #main {
    .block-tagline-front {
      text-align: left; 
      font-size: 1em;
      margin-bottom: 40px;
    }
  }

  #main {
    .block-960 {
	    margin-top: 20px;
	    h1 {
	      font-size: 3em;
	      border: none;
	      margin-bottom: 40px;
	    }
    }
  }
  
  #main {
    .block-wat-doen-we {
      margin-bottom: 80px;
      ul.blocks {
        li {
          width: 49% !important;
          height: 170px;
          margin-right: 2% !important;
          position: relative;
          &.even {
            margin-right: 0 !important;
          }
          a {
	          .title {
	            font-size: 2em;
	          }
          }
        }
      }
    }
  }

	#main {
	  .block-ons-werk {
	    margin-bottom: 80px;
	  }
	}
  
  #main {
    .header-block {
      margin-top: 0;
      height: auto;
      .visual {
        height: 200px;
      }
      .text {
        margin-top: 60px;      
        .captions {
          h1 {
            margin: 0;
            color: $lightColor4;
          }
          h2 {
            display: none;
          }
        }
      }
    }
  }


	#main {
	  .field-name-field-page-block {
	    h1 {
	      font-size: 3em;
	      border: none !important;
	    }
	    .highlight {
	      margin: 0;
	      margin-top: 20px;
	      padding: 10px;
	    }
	    .non-highlight {
	      margin: 0;
	      margin-top: 20px;
	      padding: 0;
	    }
	    .field-name-field-page-block-body {
	      font-size: 0.9375em;
	      img {
	        max-width: 40% !important;
	        margin-right: 5%;
	        float: left;
	        height: auto !important;
	      }
	      p {
	        margin-bottom: 20px;
	        text-align: left !important;
	      }
		    .block-col6 {
		      width: 100%;
		      float: none;
		      margin-right: 0;
		      margin-bottom: 20px;
		      padding: 0;
		      
		    }
	    }
	  }
	}

  .webform-client-form {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    fieldset {
      &#webform-component-wrapper--wrapper-left {
        float: left;
        width: 40%;
        margin-right: 10%;
        .form-text {
          width: 100%;
          border: 1px solid #cacaca;
          height: 30px;
          line-height: 30px;
          color: #7a7a7a;
        }
        .form-textarea {
          width: 100%;
          border: 1px solid #cacaca;          
          color: #7a7a7a;          
        }
      }
      &#webform-component-wrapper--wrapper-right {
        float: left;
        width: 30%;
        iframe {
          width: 350px !important;
          border: 4px solid white;
        }
      }
    }
  }

	#main {
	  .block-main-referenties {
	    #isotope-container {
	      margin-left: 40px;
	    }
	    #isotope-options {
	      ul {
	        margin-left: 40px;
	        li {
            margin-bottom: 10px;
	        }
	      }
	    }
      .isotope-element {
        width: 30%;
        height: 300px;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
        .show-more {
          left: 75px;
          top: 90px;
        }

      }
	  }
	}

  #footer {
    .inner {
      .contact {
        @include zen-grid-item(8, 1);
      }
      .sm {
        @include zen-grid-item(4, 9);
        a {
          margin-right: 5px;
        }
      }
    }
  }
}